.addForm {
  display: flex;
}

.addInput {
  background: none;
  border: none;
  padding: 1rem;
  width: calc(100% - 120px);
  border-top: 1px solid var(--color-line);
  color: var(--color-dark);
  background: var(--color-gray-bg);
}

.addInput:focus {
  outline: none;
}

.addInput::placeholder {
  color: var(--color-gray);
}

.addBtn {
  background: none;
  border: none;
  width: 100px;
  background: var(--color-yellow);
  color: var(--color-white);
  font-weight: 500;
}