.addForm {
  display: flex;
}

.addInput {
  background: none;
  border: none;
  padding: 1rem;
  width: calc(100% - 120px);
  border-top: 1px solid #F2F2F2;
  color: #797979;
  background: #FAFAFA;
}

.addInput:focus {
  outline: none;
}

.addInput::placeholder {
  color: #BEBEBC;
}

.addBtn {
  background: none;
  border: none;
  width: 100px;
  background: #F5C143;
  color: #FFF;
  font-weight: 500;
}