:root {
  --color-bg: #FFFFFF;
  --color-gray-bg: #FAFAFA;
  --color-line: #F2F2F2;
  --color-green: #23C790;
  --color-yellow: #F5C143;
  --color-red: #EC7C68;
  --color-dark: #797979;
  --color-gray: #C6C6C6;
  --color-white: #FFF;
}

html.dark {
  --color-bg: #171D26;
  --color-gray-bg: #212838;
  --color-line: #181E28;
  --color-green: #643FEB;
  --color-yellow: #D85888;
  --color-red: #EC7C68;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}