.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  display: block;
  width: 100%;
  line-height: 50px;
  padding: 0 20px;
  font-weight: 500;
  color: var(--color-gray);
  background-color: var(--color-gray-bg);
  box-shadow:
    1px 0 0 0 var(--color-line),
    0 1px 0 0 var(--color-line),
    1px 1px 0 0 var(--color-line),
    1px 0 0 0 var(--color-line) inset,
    0 1px 0 0 var(--color-line) inset;
}

.nav ul li.active {
  background-color: var(--color-bg);
  border: none;
  color: var(--color-green);
}

.modeChangeBtn {
  position: absolute;
  /* left: -200px; */
  top: 0;
  background: var(--color-bg);
  border: none;

}